<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.lyx.sign_in_sys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasicActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReadCardActivity" />
        <activity android:name=".MeetingListsActivity" />
        <activity android:name=".SignListsActivity" />
        <activity
            android:name=".LocalMeetingList"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LocalReadCardActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity android:name=".LocalSignListActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"


            />
    </application>

</manifest>